{{#if error}}
	<div class="alert alert-danger">{{error}}</div>
{{else}}
	<div class="alert alert-danger">NO ERROR</div>
{{/if}}

{{#each errors}}
	<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}